<ion-header>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="centrado">
    <img class="logo" src="assets/PNG/xt-fullbco.png" alt="">
    <div class="separador"></div>
    <img class="portada" src="assets/SVG/Sushicook.svg" alt="">
    <div class="separador"></div>
    <ion-button class="fondoBoton blanco tipoLetra" style="margin-top: 20px;" (click)="navegarInicioSesion()">Iniciar sesión</ion-button>
    <strong><div style="color: #000000" >O</div></strong>
    <ion-button class="fondoBoton blanco tipoLetra" (click)="navegarInvitado()">Invitado</ion-button>
    <div class="separador"></div>
  </div>
</ion-content>

<ion-footer class="centrado">
  <div class="circuloPass"></div>
  <ion-toolbar class="fondoNav centrado">
    <ion-img class="footer centrado-img" src="assets/SVG/xt-logoaz.svg" alt=""></ion-img>
  </ion-toolbar>
</ion-footer>

